body {
    background-image: url("../img/index.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 140vh;

  }

.icono {
    max-height: 75px;
    width: 100px;
}

.card-personalizado {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card-personalizado .card-body {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
  }
  
  .card-personalizado:hover {
    transform: scale(1.05);
  }

  .tooltip-hover {
    display: none;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    z-index: 10;
  }

  .card-personalizado:hover .tooltip-hover {
    display: block;
  }

  .seccion-cards {
    margin-top: 200px;
  }

  .card-personalizado .titulo-card {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .card-personalizado .texto-card {
    font-size: 1.2rem;
  }
  